/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 $nav-color-gray: #A6A6A6;
 $nav-color-white: #fff;
 $nav-color-black: #A6A6A6;
 $nav-background-black: #323436;
 $nav-a-hover: #353637;
 $banner-color: #fff;
 $btn-color: #fff;
 $btn-background: #49BCB5;
 $btn-background-hover: #00DBE9;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto);

//---------Navbar---------

.navbar-default {
    background-color: #FFFFFF;
    border-color: #212121;
    //margin-bottom: 0; 留白
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #EF6C00;
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #EF6C00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;
    background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

//---------Box---------

.box {
    background-image: image-url("header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -20px;  // 填补白边 nav 有预留白边

    .box-inner {
        background-color: rgba(250, 250, 250, 0.69);
        padding: 30px;
        margin-top: 250px;
        margin-bottom: 250px;
    }

    .title {
        text-align: center;
        margin-bottom: 80px;
    }

    .slogan {
        color: #222;
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
        font-family: monospace;
        font-size: 50px;
        font-weight: bold;
        top: 12px;
    }

    .lead {
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
}

//---------Search ---------
.form-control{
  padding: 10px 15px;
}

//---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-c {
    padding: 50px 0;
    margin-bottom: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    text-align: center;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {

    margin-bottom: 30px;
}

.lead {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.banner_bottom {
  background-image: image-url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 20%;
  overflow: hidden;
  padding-top: 4.4em;
  margin-top: -10px;
  border-radius: 0;
}


//---------Footer---------
.footer-text {
  color: #9d9d9d;
  margin-top: 2em;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #222222;

  p{
       font-size: 14px;
   }

  li{
     margin-top: 5px;
   }
}

.footer-icon a {
  font-size: 1.5em;
  margin-top: 1.8em;
  color:#9d9d9d;
  text-decoration:none;
  }

  .footer-icon a:hover {
    font-size: 1.5em;
    margin-top: 1.8em;
    color:#fff;
    text-decoration:none;
    }

  .footer-icon li {
    display:inline;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }


.wrapper {
  min-height: 100%;
  margin-bottom: -110px; /* 等于footer的高度 */
}

.push {
  height: 110px;
}


//---- Common  ----

.col-centered {
  float: none;
  margin: 0 auto;
}




/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}



//----------job index -------
.custab{
  text-align: center;
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}


$nav-item-width: 50%;
$nav-item-height: 60px;
$social-sign-width: 100%;
$social-sign-height: 35px;
$social-sign-font: 14px roboto;

$login-color: #2ecc71;
$sign-up-color: #47b8f2;

$checkbox-width: 20px;
$checkbox-height: 20px;

$form-submit-btn-width: 270px;
$form-submit-btn-height: 50px;

$transition-duration: 1s;
$color-transition-duration: $transition-duration * .7;


*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {width:100%;height:100%;}

.login-sign--form {
    width: 25%;
    min-width: 340px;
    height: 530px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 1px 1px #999;
    transition: box-shadow $transition-duration ease;
    background-color: #1e1d23;
}

.login-sign--form:hover {
    box-shadow: 0 0 7px 1px #999
}

.form-container {
    width: 60%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
/* -----------------
form navigation
----------------- */
.nav-item {
    opacity: 0;
    cursor: pointer;
}

.nav-item,
.nav-item + label {
    z-index: 2;
    display: block;
    width: $nav-item-width;
    height: $nav-item-height;
    position: absolute;
    top:0;
}

.nav-item + label {
    z-index: 1;
    line-height: $nav-item-height;
    text-align: center;
    font-size: .85em;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.nav-item.login,
.nav-item.login + label {
    left: 0;
}

.nav-item.sign-up,
.nav-item.sign-up + label {
    right: 0;
}

.nav-item.login + label {
    color: $login-color
}
.nav-item.sign-up + label {
    color: $sign-up-color
}/* .navigation item label */

/* navigation item sliding border */
.nav-item ~ .sb {
    width: $nav-item-width;
    height: 4px;
    position: absolute;
    background-color: blue;
    transition: all $transition-duration ease
}

/* ---------------------
nav item checked state
----------------------*/
.nav-item.login:checked ~ .sb {
    background-color: $login-color;
    transform: translate3d(0, 0,1px);
}
.nav-item.sign-up:checked ~ .sb {
    background-color: $sign-up-color;
    transform: translate3d(100%, 0,1px);
}

.nav-item.login:checked ~ .form-expand  .login-form {
    visibility: visible;
    opacity: 1;
}
.nav-item.sign-up:checked ~ .form-expand .sign-up-form {
    visibility: visible;
    opacity: 1;
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

//---------------  jobs ------------ //
body {
  font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;
  // letter-spacing: 0.1em;
}

.table {
  border: 1px solid #e0e6ed;
  thead > tr > th {
    background: #B3DB94;
    border-bottom: 1px solid #e0e6ed;
  }
  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }
  td, th {
    // border-right: 1px solid #ddd;
  }
  .btn {
    &.btn-info {
      background: #F0AD4E;
      border-color: #F0AD4E;
    }
    &.btn-warning {
      background: #62A8EA;
      border-color: #62A8EA;
    }
    &.btn-danger {
      background: #F96868;
      border-color: #F96868;
    }
  }
}

.jobs-container {
  padding-top: 40px;
}

// .content {
//   margin-top: -20px;  //消除 navbar 预留的白边
// }


//------------------------- label
.label {
  font-size: 12px;
}
.label-success {
  background: $btn-background;
}
.label-default {
  background: #999999;
}


//----------- Index job category -------------

.section-title {
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
}

.category-list:hover {
  .thumbnail {
    border: 2px solid #4A6BB5;
  }
}

.category-name{
  font-family: monospace;
  font-size: 25px;

}
.thumbnail{
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 75px;
        margin-top: 30px;
    }

}
