// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
  margin-top: 7em;
  margin-bottom: 5em;
  color: #636262;
  padding-left: 5em;
  padding-right: 5em;
  font-family: 'PT Sans', sans-serif; 
}

.job-list {
  margin: 100px 0px;
  border: 2px solid black;
  padding-left: 5em;
  padding-right: 5em;
}

.job-list_admin {
  margin-right: 10em;
}

.job-title {
  font-size: 1.15em;
  padding-left: 2em;
  padding-top: 1.3em;

}

.job-info-1 {
  font-size: 1em;
  padding-left: 2em;
}

.job-info-2 {
  font-size: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgrey;
}


body {
  font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;
  // letter-spacing: 0.1em;
}

.table {
  border: 1px solid #e0e6ed;
  thead > tr > th {
    background: #B3DB94;
    border-bottom: 1px solid #e0e6ed;
  }
  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }
  td, th {
    // border-right: 1px solid #ddd;
  }
  .btn {
    &.btn-info {
      background: #F0AD4E;
      border-color: #F0AD4E;
    }
    &.btn-warning {
      background: #62A8EA;
      border-color: #62A8EA;
    }
    &.btn-danger {
      background: #F96868;
      border-color: #F96868;
    }
  }
}

.jobs-container {
  padding-top: 40px;
}

// .content {
//   margin-top: -20px;  //消除 navbar 预留的白边
// }

.jobs-index-nav{
  margin: 100px;
}
