// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
.content {
  margin-top: 7em;
  margin-bottom: 5em;
  color: #636262;
  padding-left: 5em;
  padding-right: 5em;
  font-family: 'PT Sans', sans-serif;
}

.job-list {
  margin: 100px 0px;
  border: 2px solid black;
  padding-left: 5em;
  padding-right: 5em;
}

.job-list_admin {
  margin-right: 10em;
}

.job-title {
  font-size: 1.15em;
  padding-left: 2em;
  padding-top: 1.3em;

}

.job-info-1 {
  font-size: 1em;
  padding-left: 2em;
}

.job-info-2 {
  font-size: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgrey;
}

//---- Start Siderbar ----//
.list-group {
  margin: 150px 100px;
  padding: 5px;
  text-align: center;
  width: 200px;
}
.title {
  font-weight: bold;
}
