// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.network {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}

.popular {
  margin-top: 5px;
  margin-bottom: 50px; 
  text-align: center;
  font-size: 50px;
}

.companylist-item{
  margin-top: 150px;

}



.jobname {
  margin-top: 5px;
  font-size: 15px;
}
